<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ShadeLyrics API</title>
</head>

<body>
    <center>
        <h1>ShadeLyrics-API</h1>
        <h3>Creado por <a href="https://instagram.com/4gusjk" target="_blank">Agustín Arnoldi</a></h3>
        <h4>Documentación: <a href="https://app.swaggerhub.com/apis-docs/Agusjk7/ShadeLyrics-API/1.0.0" target="_blank">Swagger</a></h4>
    </center>
</body>

</html>